.nav {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding: 0 auto;
    height: 80px;
    color: #cdcdcd;
    background-color: transparent;
}

.nav > .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px 200px;
}
.nav > .container > .menu h1{
    justify-content:flex-start;
    padding: 0px 20px;
}
.nav> .container > .menu span{
    position: relative;
    justify-content: flex-end;
    padding: 0 20px ;
}

@media (max-width: 599px) {

    .nav > .container > .menu{
        flex-direction: column;
        padding: 20px 0;
        height: unset;
    }

    .nav > .container h1 {
        margin-bottom: 20px;
    }

}