/* .section-pre-middle {

}
.section-home > .container > .inferior{
    background: linear-gradient(to bottom, #000000 0%, rgba(0,0,0,0.9) 75%, rgba(0,0,0,0.8) 100%);
    background-size: 100%;
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}
.section-home > .container > .inferior h2{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}
span{
    text-align: center;
    position: absolute;
    color:  #b8b8b3;
    
}
.green{
    position: relative;
    color:#528582;
    font-size: 16px;
    
} */
img{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}