.section-home {
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0.7) 75%, #000000 100%),
    url("../img/bg-masthead.jpg");
    background-size: 100%;
    height: 1118px;
    width: 100%;
    display: flex;
}
.section-home > .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #aeb8b8;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}
h2{
    text-align: center;
    font-weight: normal;
    margin: 5px;
    font-size: 72px;
    background: -webkit-linear-gradient(#e6e6e6, #909090);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
p{
    color: #b8b8b3;
    font-size: 15px;
    text-align: center;
}
button{
    background-color:  #64a19d;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px "Varela Round";
    text-transform: uppercase;
    align-self: center;
    margin: 0 auto;
}
button:hover {
    background-color:#528582;
    border: none;
}

/* Parte inferior da home */
h3{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}

.green{
    position: relative;
    color:#528582;
    font-size: 16px;
    
}
img{
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: none;
}
@media (max-width: 599px) {
    .section-home > .container{
        background-repeat: no-repeat;
        width: 100%;
        
    }
}