.section-middle {
    color:  #b8b8b3;
}
.section-middle > .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    margin: 100px 150px;   
}
.section-middle > .container > .shoreline{
    display: flex;
    align-items: center;
}
.section-middle > .container > .shoreline span{
    /* Propriedades específicas */
    border-left: 6px solid #64a19d;
    /* Propriedades gerais*/
    text-align: left;
    align-items: flex-start;
    padding-left: 30px;  
    width: 340px;
    height: 150px;  
}
.black-h3{
    color: black;
    font-weight: normal;
    text-align: left;
    padding: 0 0 10px 0;
}
.section-middle > .container > .shoreline img{
    width: 60%;
    margin: 10px 0px;
}
.black-square{
    background-color: black;
    width: 400px;
    height: 220px;
    padding-left: 50px;
}
h3{
    font-weight: normal;
    padding: 0 0 10px 0;
    color: white;
}
.section-middle > .container > .misty hr{
    width: 123px;
    margin-top: 15px;
    border-bottom: 4px solid #64a19d;
}
.section-middle > .container > .misty img{
    width: 50%;
}

.section-middle > .container > .mountains span{
    background-color: black;
    width: 400px;
    height: 222px;
    text-align: right;
    padding-right: 50px;
    margin-left: 125px;
}
.section-middle > .container > .mountains h3{
    font-weight: normal;
    padding: 0 0 10px 0;
    color: white;
}
.section-middle > .container > .mountains hr{
    float: right;
    width: 123px;
    margin-top: 15px;
    border-bottom: 4px solid #64a19d;
}
.section-middle > .container > .mountains img{
    width: 50%;
    float: right;
}