.section-about {
    background-color: #D40A44;
    color: #fff;
}

.section-about > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 60px 20px;
}

.section-about > .container h3 {
    font-size: 30px;
    text-transform: uppercase;
}

.section-about > .container > .decoration img{
    filter: brightness(1000%);
    width: 40px;
    padding: 10px 5px 20px 5px;
}

.section-about > .container .content {
    display: flex;
    margin: 20px 0;
}

.section-about > .container .content div {
    padding: 20px;
}

.section-about > .container button {
    color: #fff;
    border: 1px solid #fff;
    background-color: #D40A44;
    padding: 15px 30px;
    border-radius: 5px;
}
.section-about > .container button img {
    padding-right: 10px;
}

.section-about > .container button:hover {
    background-color: #fff;
    color: #D40A44;
}

@media (max-width: 599px) {
    .section-about > .container .content {
        flex-direction: column;
    }
}