.section-portfolio {
    background-color: white;
    color:  #2C3E50;
}

.section-portfolio > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 60px 20px;
}

.section-portfolio > .container h3 {
    color: #2C3E50;
    font-size: 30px;
    text-transform: uppercase;
}

.section-portfolio > .container > .decoration img{
    width: 40px;
    height: 60px;
    margin: 0;
    padding: 10px 5px 20px 5px;
    filter: brightness(1);
}

.section-portfolio > .container img {
    width: 230px;
    height: 160px;
    margin: 10px 10px;
    border-radius: 5px;
}

@media (max-width: 599px) {
    .section-portfolio> .container img {
        align-content: center;
        justify-content: space-between;
    }
}   